body {
    background: url("../img/bg.png") repeat-x #dcd24e;
    font-family: arial, 'Times New Roman', Helvetica, sans-serif; 
    font-size: 100%;
    margin: 0;
    padding: 0;
    
} 
p {
    margin: 0;
    padding: 0;
}



#header table {
    padding-bottom: 10px;
    width: 100%;
    border-bottom: 2px solid black;
}

#logo img {
    width: 300px;
}

#text-logo  {
    text-align: center;
    width: 100%;
}