body{
     font-family: arial, 'Times New Roman', Helvetica, sans-serif; 
     font-size: 12pt;
     margin: 0;
     padding: 20px 40px 20px 40px;
     
}

.clear {
    clear: both;
}

#logo table {
    width: 100%
}

#logo p {
    font-style: italic;
    margin: 0;
    
}

.right{
    text-align: right;
}

.gray {
    color: #afaeae;
}

.green {
    color: #91aa77;
    font-weight: bold;
}
/*---------------- top menu ------------------ */
#topmenu {
    background-color: #538bc5;
    margin-top: 15px;
}

#topmenu ul{
    margin: 0;
    padding: 0;
}

#topmenu ul li {
    float: left;
    list-style: none;
    
}

#topmenu ul li a{
    color: #fff;
    font-size: 120%;
    display: block;
    padding: 10px 15px;
    text-decoration: none;
}

#topmenu ul li.active a, #topmenu ul li a:hover {
    background-color: #375c84;
}

#contacts {
    margin-right:20px;
    margin-top: 10px;
    
    float: right;
}

#contacts a {
    text-decoration: none;
}
/*---------------- top menu END ------------------ */
#header{
    margin-top: 15px;
}

#header img {
    width: 100%;
}

#content_header{
    
    float: right;
    position: relative;
    text-align: right;
    top: -150px;
    right: 30px;
    width: 40%;
    font-size: 100%;
}

#content_header p {
    margin-top: 30px;
}

#content_header h1, #content_header h3{
    margin: 0;
}

#content_header h1{
    color: #688fb1;
    font-size: 210%;
}

#content_header h3 {
    color: #97adc0;
    font-size: 100%;
    
}

#content_header a {
    background-color: #d8812e;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
}

#menu{
    margin-top: 15px; 
    width: 100%;
    
}


#menu table {
    width: 100%;
    
}

#menu table table {
    width: auto;
}

#menu .left {
    position: relative;
    left: -6px;
}


#menu .right {
    position: relative;
    right: -5px;
    text-align: right;
}


#menu td a {
    background-color: #ececec;
    color: #a0a0a0;
    display: block;
    font-weight: bold;
    padding: 10px 20px;
    text-decoration: none;
}

#menu td.active a, #menu td a:hover {
    background-color: #e2ecf4;
    color: #3b638f;
}

#search {
    float: right;
}

#search div {
    border: 1px solid #aec697;
    bottom: 2px;
   
    position: relative;
}

#search div input{
    border: 3px solid #cbddbb;
    color: #676767;
    height: 28px;
    padding-left: 10px;
    width: 200px;
  
}



.separator {
    border-top: 1px dashed #b6c6dd;
    margin-top: 15px;
    height: 1px;
    width: 100%;
}